@use '../utils' as u;

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: u.rem(40) 0;

  h1 {
    color: #901C1C;
    text-align: center;
  }

  .logo {
    width: u.rem(200);
    height: u.rem(50);
    margin-right: u.rem(20);
  }
}

.photographer_header {
  background-color: u.$color-photograph-header-bg;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 50px;
  place-items: center;

  .photographer_details {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: u.rem(30);

    .photographer_name {
      font-size: u.rem(64);
      color: u.$color-secondary;
    }

    .photographer_location {
      font-size: u.rem(24);
      color: u.$color-primary;
    }

    .photographer_tagline {
      font-size: u.rem(16);
      color: u.$color-dark-grey;
      quotes: none;
      margin-top: 1rem;
    }

  }

  .photographer_picture {
    aspect-ratio: 1;
    width: u.rem(200);
    border-radius: 50%;
    margin: u.rem(50);
  }

}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

