@use '../utils' as u;

.likes {
  position: sticky;
  left: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: u.rem(8);
  margin-right: -4%;
  bottom: 0;
  background-color: u.$color-secondary;
  max-width: u.rem(300);
  min-width: u.rem(240);
  width: 25vw;
  padding: 20px clamp(8px, 1px + 1vw, 30px);
  border-radius: 5px;
  font-size: u.rem(24);
  font-weight: 500;

  &_heart {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-right: auto;

    & path {
      fill: u.$color-black
    }
  }
}