@use '../utils' as u;

.photographer_media {
  @extend %grid-275;
  position: relative;
  padding-bottom: 3rem;

  .product {
    aspect-ratio: 1;

    &-video,
    &-img {
      width: 100%;
      aspect-ratio: 7 / 6;
    }

    &-figcaption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //column-gap: 1rem;
      padding: u.rem(8) 0;
      color: u.$color-primary;
      font-size: u.rem(24);

      .likes {
        text-indent: -9999px;
      }
    }

    &-likes {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: .5rem;
      padding-left: 1rem;
      margin-inline: auto u.rem(7);
      font-size: u.rem(24);
    }

    &-heart {
      height: u.rem(18);
    }
  }
}