@use '../utils' as u;

.photographer_media {
  position: relative;
}

.photographer_media {
  @extend %grid-275;

  .product {
    aspect-ratio: 1;

    &-video,
    &-img {
      width: 100%;
      aspect-ratio: 7 / 6;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: u.rem(8) 0;
      color: u.$color-primary;
    }

    &-title {
      font-size: u.rem(24);
      margin-right: u.rem(20);
    }


    &-likes {
      margin-inline: auto u.rem(7);
      font-size: u.rem(24);
    }

    &-heart {
      height: u.rem(18);
    }
  }
}
