$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-dark-grey: #525252;
$color-light-grey: #757575;
$color-photograph-header-background: #f5f5f5;
$color-modal-background: #DB8876;
$color-white: #fff;
$color-black: #000;