@use '../utils' as u;

.photographer_contact,
.modal_submit {
  font-size: 20px;
  font-weight: bold;
  color: u.$color-white;
  margin: 2rem;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: u.$color-primary;
  border-radius: u.$border-radius-xs;
  cursor: pointer;
}
