@use '../utils' as u;

.photographer_contact,
.modal_submit {
  font-size: u.rem(20);
  font-weight: 700;
  color: u.$color-white;
  margin: u.rem(32) 0;
  padding: u.rem(11);
  width: u.rem(170);
  height: u.rem(70);
  border: none;
  background-color: u.$color-primary;
  border-radius: u.$border-radius-xs;
  cursor: pointer;

  &:hover,
  &:focus {
    @include u.set-bg(u.$color-bg-light);
  }
}

.modal_close {
  display: inline-block;
  padding: 0;
  width: clamp(1.3rem, 6vw, 3rem);
  height: clamp(1.3rem, 6vw, 3rem);
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    aspect-ratio: 1;
    width: clamp(1.3rem, 6vw, 3rem);
    height: clamp(1.3rem, 6vw, 3rem);
  }
}

.modal_submit:hover,
.modal_submit:focus,
.modal_submit:focus-visible {
  background-color: u.$color-white;
  color: u.$color-black;
}
