@use "../utils" as u;

.dropdown {
  display: flex;
  font-size: 1.15em;
  font-weight: 700;
}

.combo {
  display: block;
  margin: .5rem 1.5em;
  width: 170px;
  position: relative;
  color: u.$color-white;

  &::after {
    border-bottom: 2px solid u.$color-white;
    border-right: 2px solid u.$color-white;
    content: "";
    display: block;
    height: 12px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -65%) rotate(45deg);
    width: 12px;
  }

}


.combo-input {
  background-color: u.$color-primary;
  border-radius: 5px;
  display: block;
  min-height: calc(1.4em + 26px);
  padding: 1.4rem;
  text-align: left;
  width: 100%;
}

.combo-label {
  margin-top: 1.25rem;
}

.combo-menu {
  background-color: u.$color-primary;
  border-radius: 0 0 5px 5px;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}

.open.combo::after {
  top: 40%;
  transform: rotate(225deg);
}

.open .combo-input {
  border-radius: 4px 4px 0 0;
}

.open .combo-menu {
  display: block;
}

.combo-option {
  padding: 1rem;
  position: relative;

  &.option-current {
    display: none;
  }

  &::after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    width: 90%;
    height: 1px;

    &:hover {
      background-color: rgb(0 0 0 / 10%);
    }

  }

  &[aria-selected="true"] {
    padding-right: 30px;
    position: relative;
  }
}
