@use "../utils" as u;

form {
  @extend %flex-col-100p;

  & label {
    color: u.$color-dark-label;
    font-size: 36px;
  }

  & div {
    @extend %flex-col-100p;
    margin-bottom: 26px;
  }

  & input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: u.$border-radius-xs;
  }
}
