@use "../utils" as u;

form {
  @extend %flex-col-100p;

  & > * {
    //width: 100%;
    font-size: clamp(1rem, 7vw, #{u.rem(36)});
  }

  & label {
    color: u.$color-dark-label;
  }

  & div {
    @extend %flex-col-100p;
    margin-bottom: u.rem(26);
  }

  & input,
  & textarea {
    width: 100%;
    border: none;
    border-radius: u.$border-radius-xs;
  }

  & input {
    height: u.rem(68);
  }

}
