@use "../utils" as u;

form {
  @extend %flex-col-100p;

  & label {
    color: u.$color-dark-label;
    font-size: u.rem(36);
  }

  & div {
    @extend %flex-col-100p;
    margin-bottom: u.rem(26);
  }

  & input {
    width: 100%;
    height: u.rem(68);
    border: none;
    border-radius: u.$border-radius-xs;
  }
}
